/* TEMPLATE STYLE */

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: end;
}
