@import 'template';
@import 'userform';
@import 'error';
@import 'buttonstyle';

/* STYLING ACCOUNT PAGE */
#accountContainer {
	padding-left : 4vw;
	padding-right: 4vw;
}

#myTopos {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 20vh;
	border-bottom: 0.2vh solid;
}

form {
	@include form-const(8);
	border-bottom: 0.2vh solid;
}

#subnewlieu {
	margin-right: 2vh !important;
}

#DIVrep {
	display: flex;
	justify-content: center;
}

#SECresa {
	margin-bottom: 4vh;
	
	div:not(:last-of-type) {
		border-bottom: 0.2vh dashed;
		padding-bottom: 4vh;
		margin-bottom: 4vh;
	}

	.resaUser {
		font-weight: bold;
	}

	button {
		@extend %button-style;
	}
}