@import 'template';
@import 'error';
@import 'userform';

/* CONNEXION STYLING */
#containerCon {
	height: 71.8vh;
	
	@media screen and (min-width: 812px) {
		height: 69.6vh;
	}
}

form {
	@include form-const(4);
	height: 54.2vh !important;
}

#inscription, #DIVerror {
	display: flex;
	justify-content: center;
	height: 5vh;
}

#inscription a {
	text-decoration: underline !important;
}