@import 'template';
@import 'error';
@import 'userform';

/* CONNEXION STYLING */
#containerCon {
	height: 71.8vh;
}

form {
	@include form-const(4);
	height: 55.2vh !important;
}

#inscription, #DIVerror {
	display: flex;
	justify-content: center;
	height: 5vh;
}

#inscription a {
	text-decoration: underline !important;
}