@import 'template';

/* INSCRIPTION STYLE */
	
form {
	display: grid;
	grid-template-rows: 0% 33% 33% 33%;
    grid-template-columns: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 40vh;
    
    div:not(:nth-child(1)):not(:nth-child(4)) {
        display: grid;
        align-items: center;
        grid-template-columns: 25% 50% 25%;

        input {
            justify-self: center;
            grid-column: 2;
            height: 3vh;
            width: 80%;
            margin-left: 4%;
        }

        span {
            justify-self: end;
            grid-column: 1;
            line-height: 1.75em;
        }
    }

    div:nth-child(1) {
        grid-row: 1;
    }

    div:nth-child(2) {
        grid-row: 2;
    }
   
   div:nth-child(3) {
        grid-row: 3;
    }

    div:nth-child(4) {
        grid-row: 4;
        display: grid;
        align-items: center;

        input {
            justify-self: center;
            height: 3vh;
            width: 20%;
        }
    }
}