@import 'template';
@import 'error';

/* SITES STYLING */
#searchBar {
	display: flex;
	justify-content: space-around;
	margin-top: 5vh;
}
	
#DIVtab {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10vw;
}

.DIVcom {
	display: none;
	margin-top: 2vw;
	
	.DIVcomm {
		display: flex;
		align-items: center;
	}
	
	.commentaire {
		font-weight: bold;
	}
	
	.admcom {
		display: flex;
		
		button {
			height: 3vh;
			margin-left: 2vw;
		}
	}

	.yourcom {
		display: flex;
		align-items: center;
		margin-top: 2vh;
		
		div[contenteditable=true] {
			height: 4vh;
			width: 50vw;
			border: solid;
			margin-right: 2vw;
		}
		
		button {
			height: 3vh;
		}
	}
}

.modal {
	position: relative;
	top: 50%;
	right: 75%;
	display: none;
	border: solid;
	background-color: white;
	height: 10vh;
	width: 40vw;
	
	div {
		display: flex;
		justify-content: center;
	}
}	