/* TEMPLATE STYLE */
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0; }

/* HEADER */
header {
  display: flex;
  justify-content: center; }

/* MENU */
#menu {
  display: none;
  justify-content: space-around;
  width: 100%;
  height: 12.8vh;
  border-bottom: 0.2vh solid; }
  @media screen and (min-width: 812px) {
    #menu {
      display: flex; } }
  #menu #logoAcc {
    width: 17.85vh;
    height: 10vh; }
  #menu div:not(#DIVdeco):not(#DIVaccsite):not(#DIVaccdeco) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; }
  #menu div:nth-child(4) {
    flex-direction: column; }
    #menu div:nth-child(4) div {
      width: 100%; }

#menuMobile {
  display: block;
  width: 100%;
  height: 12.8vh;
  border-bottom: 0.2vh solid; }
  @media screen and (min-width: 812px) {
    #menuMobile {
      display: none; } }
  #menuMobile img {
    height: 4vh;
    width: 4vh;
    position: absolute;
    top: 2%; }
  #menuMobile #searchBut {
    left: 2%; }
  #menuMobile #menuBut {
    right: 2%; }
  #menuMobile #logo {
    left: 50%;
    margin-left: -2vh;
    width: 7.5vh !important; }

#menuMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #607D8B;
  transition: 0.5s;
  border-right: 0.2vh solid; }
  #menuMob a {
    display: block;
    transition: 0.3s;
    margin-bottom: 2vh;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  #menuMob a:focus {
    outline: none; }
  #menuMob a:active {
    outline: none;
    color: black; }

#DIVaccdeco {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  height: 10vh; }

#DIVaccount {
  margin-bottom: 4vh; }

#DIVaccsite {
  display: none;
  justify-content: center;
  position: absolute;
  margin-top: 3vh; }

#DIVdeco {
  display: none;
  justify-content: center;
  position: absolute;
  margin-top: 6vh; }

/* BODY */
a {
  text-decoration: none;
  color: black; }

a:hover {
  color: #607D8B; }

#container {
  min-height: 71.8vh; }

h1 {
  padding-left: 2%;
  margin-block-start: 5vh; }

/* FOOTER */
footer {
  background-color: #607D8B;
  border-top: 0.2vh solid;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 2%;
  width: 98%;
  height: 10vh; }

/* ERROR STYLE */
.error {
  color: red; }

/* SITES STYLING */
#siteContainer {
  min-height: 71.8vh; }
  @media screen and (min-width: 812px) {
    #siteContainer {
      min-height: 61.6vh; } }

#searchBar {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 90%;
  height: 60vh;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  margin-top: -30vh;
  background-color: #f2fcf5;
  border-top: 0.2vh solid;
  border-left: 0.2vh solid;
  border-right: 0.2vh solid;
  border-bottom: 0.2vh solid; }
  @media screen and (min-width: 812px) {
    #searchBar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: static;
      width: 100%;
      height: 10vh;
      left: 0;
      margin-left: 0;
      margin-top: 0;
      background-color: #607D8B;
      border-top: none;
      border-left: none;
      border-right: none; } }

#DIVtab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4vw; }
  #DIVtab .containerCom {
    display: flex; }
    #DIVtab .containerCom .subCom {
      width: 90vw; }
      #DIVtab .containerCom .subCom .DIVshowcom {
        display: flex; }
      #DIVtab .containerCom .subCom .showcom:hover {
        cursor: pointer; }
      #DIVtab .containerCom .subCom .comment {
        width: 2.5vh;
        height: 2.5vh;
        margin-right: 1vw; }
    #DIVtab .containerCom .admTag {
      margin-right: 4vw; }
  #DIVtab .official {
    font-style: italic; }

.DIVcom {
  display: none;
  margin-top: 2vw; }
  .DIVcom .DIVcomm {
    display: flex;
    align-items: center; }
  .DIVcom .commentaire {
    font-weight: bold; }
  .DIVcom .admcom {
    display: flex; }
    .DIVcom .admcom button {
      height: 3vh;
      margin-left: 2vw; }
  .DIVcom .yourcom {
    display: flex;
    align-items: center;
    margin-top: 2vh; }
    .DIVcom .yourcom div[contenteditable=true] {
      height: 4vh;
      width: 50vw;
      border: solid;
      margin-right: 2vw; }
    .DIVcom .yourcom button {
      height: 3vh; }

.modal {
  position: absolute;
  top: 50%;
  left: 25%;
  display: none;
  border: solid;
  background-color: white;
  height: 10vh;
  width: 40vw; }
  .modal div {
    display: flex;
    justify-content: center; }

/*# sourceMappingURL=../../../../../target/sites.css.map */